* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.title {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title h1 {
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.title button {
    width: 173px;
    height: 48px;
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    text-align: center;
    border-radius: 24px;
    border: none;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgb(186, 66, 112);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side h1 {
    color: rgb(54, 83, 107);
    font-family: DM Serif Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.55px;
    text-align: left;
}

body {
    background-color: #EDF3F8;

}


.scn {
    width: 100%;
    padding-top: 111px;
    height: 472px;
    background-color: #1B262F;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scn-left {
    margin-left: 380px;
}

.scn-right {

    flex-wrap: wrap;

    gap: 62px;
    margin-right: 365px;
}

.scn-left h1 {
    color: rgb(251, 252, 254);
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    text-align: left;
    margin-bottom: 24px;
}

.scn-left p {
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 32px;
}

.scn-left button {
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    text-align: center;
    /* Group 2 Copy */
    position: relative;
    width: 129px;
    height: 48px;
    background-color: #1B262F;
    border: 1px solid white;
    border-radius: 24px;
}

.img-wrapper {
    display: flex;
    align-items: center;
    gap: 62px;
    margin-bottom: 39px;
}

.img-wrapper2 {
    display: flex;
    align-items: center;
    gap: 62px;
}

.implement {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title2 h1 {
    color: rgb(54, 83, 107);
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    text-align: left;
}

.title2 p {
    color: rgb(108, 130, 148);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.finance {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.card img {
    margin-left: 110px;
    margin-bottom: 32px;
}

.card h1 {
    color: rgb(54, 83, 107);
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.14px;
    text-align: center;
    margin-bottom: 16px;
}

.card p{
    color: rgb(108, 130, 148);
font-family: Public Sans;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.12px;
text-align: center;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    background-color: #1B262F;
    align-items: center;
}

.ft-title{
    display: flex;
    gap: 64px;
    align-items: center;
    margin-left: 365px;
}

.ft-title h1{
    color: rgb(251, 252, 254);
font-family: Public Sans;
font-size: 15px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}

.logo-wrapper{
    margin-right: 365px;
}


@media screen and (max-width: 600px) {
    .container{
width: 500px;
margin-left: auto;
margin-right: auto;
}
.title h1{
visibility: hidden;

}

.btn{
visibility: hidden;

}
.main-header{
    flex-direction: column-reverse;
}
.left-side{
    justify-content: left;
}
.left-side h1{
    font-size: 32px;
}
.right-side{
    margin-bottom: 1px;
}
.scn{
    flex-direction: column-reverse;
}
.scn-left h1{
    font-size: 20px;
    text-align: center;
}

.scn-left p{
    font-size: 12px;
    text-align: center;
    
}
}

/* Media query for screens with a width between 601 and 768 pixels */
@media screen and (min-width: 601px) and (max-width: 768px) {
     .test{
font-size:35px;
}
}

/* Media query for screens with a width between 769 and 1024 pixels */
@media screen and (min-width: 769px) and (max-width: 1024px) {
      .test{
font-size:40px;
}
}

/* Media query for screens with a width between 1025 and 1200 pixels */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
      .test{
font-size:45px;
}
}

/* Media query for screens with a minimum width of 1201 pixels */
@media screen and (min-width: 1201px) {
   
}